.btn {
  height: 50px;
  display: inline-flex;
  align-items: center;
  letter-spacing: 0.05em;
  padding-bottom: 4px;
  transition: all 0.5s;

  svg {
    display: block;
    margin-left: 10px;
    margin-top: 4px;

    path {
      transition: all 0.5s;
    }
  }

  &.btn-white {
    &:hover {
      background-color: $dark;
      color: $white;

      svg path {
        stroke: $white;
      }
    }
  }
}
