.block-text-image {
  padding: 24px 0 33.1vh;

  .subtitle {
    margin: 0 0 60px;
  }

  .text {
    max-width: 506px;

    h3 {
      margin: 0 0 42px;
    }

    h4 {
      margin: 0 0 13px;
      letter-spacing: 0;
    }

    p {
      margin: 0 0 30px;
    }
  }

  .image {
    img {
      @include img-fit;
    }
  }

  .cp-tabs {
    .text {
      padding: 106px 0 0;
    }
  }

  @include media-breakpoint-down(lg) {
    padding: 0 0 200px;

    .cp-tabs {
      .text {
        padding: 0;
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding: 0 0 120px;
  }
}
