.block-landing {
  height: 100vh;
  display: flex;

  .column {
    width: 50%;

    a {
      display: block;
      text-decoration: none;
      width: 100%;
      height: 100%;
      position: relative;

      .image {
        @include abs;

        img {
          @include img-fit;
          opacity: 0.1;
          position: relative;
          z-index: 1;
          transform-origin: center;
          transition: transform 3s ease;
        }

        &:before,
        &:after {
          content: "";
          @include abs;
          transition: all 0.5s;
        }
        &:after {
          z-index: 2;
        }
      }

      .text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        z-index: 9;
        color: $white;
        text-align: center;
        padding: 0 16px 18.5vh;

        h1 {
          font-family: $font-family-headlines;
          font-size: 4.861vw;
          line-height: normal;
          margin: 0;
          letter-spacing: 0;
        }

        p {
          margin: 21px 0 47px;
          opacity: 0;
          transition: all 0.5s;
        }

        .arrow {
          opacity: 0;
          transition: all 0.5s;
        }
      }

      &:hover {
        .image {
          &:after {
            opacity: 0;
          }
          img {
            transform: scale(1.05);
          }
        }

        .text {
          p,
          .arrow {
            opacity: 1;
          }
        }
      }
    }

    &--left {
      a {
        .image {
          &:before,
          &:after {
            background-color: $dark;
          }
        }
      }
    }
    &--right {
      a {
        .image {
          &:before,
          &:after {
            background-color: $primary;
          }
        }
      }
    }
  }
}
