.header {
  position: absolute;
  left: 40px;
  right: 40px;
  top: 0;
  z-index: 999;
  padding: 30px 0 26px;
  border-bottom: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba($white, 0.5);

  .header-logo {
    width: 89px;

    img {
      @include img-fit;
    }
  }

  .header-mark {
    width: 30%;
  }

  .header-navigation {
    width: 30%;
    display: flex;
    justify-content: end;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;

      li {
        display: flex;
        align-items: center;

        & + li {
          &:before {
            content: url("../images/icons/dot.svg");
            margin: 0 80px;
            display: block;
            line-height: 0;
          }
        }

        a {
          display: inline-block;
          padding: 2px 0;
          text-decoration: none;
          opacity: 0.4;
          transition: all 0.5s;
          color: $white;
          @include animatedLink($white);

          &:hover {
            opacity: 1;
          }
        }

        &.current-menu-item {
          a {
            opacity: 1;
          }
        }
      }
    }
  }

  &--landing {
    justify-content: center;
    border: none;
    padding: 33px 0;
  }

  @include media-breakpoint-down(lg) {
    left: 20px;
    right: 20px;

    .header-navigation {
      ul {
        li {
          & + li {
            &:before {
              margin: 0 40px;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .header-mark {
      display: none;
    }

    .header-navigation {
      ul {
        li {
          & + li {
            &:before {
              margin: 0 20px;
            }
          }
        }
      }
    }
  }
}
