// font-family
$font-family-base: "Roobert", sans-serif;
$font-family-headlines: "Brockmann Medium", sans-serif;

// colors
$black: #000;
$white: #fff;
$primary: #6a3624;
$dark: #111111;
$gray: #6d6862;

$theme-colors: (
  "primary": $primary,
  "light": $gray,
  "dark": $dark,
  "white": $white,
);

$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$enable-gradients: true;

// font-size
$font-size-base: 1rem;
$line-height-base: 1.37;

$h1-font-size: 3rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.25rem;

$h1-font-size-sm: 2.5rem;
$h2-font-size-sm: 1.7rem;
$h3-font-size-sm: 1.5rem;
$h4-font-size-sm: 1rem;

$grid-gutter-width: 2rem;
$container-max: 1400px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1400px,
);

// buttons
$btn-padding-y: 0;
$btn-padding-x: 1.5em;
$btn-font-size: 1rem;
$btn-line-height: 1.3;
$btn-white-space: "nowrap";
$btn-border-width: 1px;
$btn-border-radius: 80px;
$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-disabled-opacity: 0.5;
$btn-active-box-shadow: none;

// forms
$input-padding-y: 1.84rem;
$input-padding-x: 1.9375rem;
$input-font-family: $font-family-base;
$input-font-size: 1.125rem;
$input-font-weight: 400;
$input-line-height: 1.3;
$input-bg: transparent;

$input-color: $white;
$input-border-color: #929292;
$input-border-width: 1px;
$input-box-shadow: none;
$input-border-radius: 3px;

$input-focus-bg: $input-bg;
$input-focus-border-color: $input-border-color;
$input-focus-color: $input-color;

$input-placeholder-color: #d0afa4;

$form-label-font-size: 1.5rem;
$form-label-margin-bottom: 1.15rem;
$form-label-font-weight: 400;
